*{
	margin: 0;
	padding: 0;
	font-family:'Cabin', sans-serif;
}
.about{
	background: url("../img/choice.jpg");
	width: 100%;
	height: 60vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.about .abcontain{
	position: absolute;
	margin: 8% 25%;
	height: 30vh;
	background: black;
	opacity: 0.9;
	width: 50%;
	text-align: center;
	border-radius: 10px;
}
.about .abcontain h1{
	color: #fff;
	font-size: 80px;
	justify-content: space-between;
	letter-spacing: 0.1em;
	margin-top: 50px;
}
.second_about{
	position: relative;
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: row;
	
}
.second_about .write{
	position: absolute;
	width: 40%;
	height: 40vh;
	margin: 7% 10%;
	background: #fff3f3;
	border-radius: 5px;
	box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;

}

.second_about .write p{
	text-align: left;
	padding: 55px;
	background: #fff3f3;
	text-decoration: none;
	margin: auto;
	color: #777;
}


.second_about .img{
	width: 40%;
	height: 40vh;
	margin-top: 7%;
	margin-left: 52%;
	border-radius: 5px;
	background: url("../img/cc (2).jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
   
}
.readmore{
	width: 120px;
	height: 40px;
	padding: 10px;
	color: #fff;
	font-size: 13px;
    border: 1px solid #777;
    border-radius: 5px;
    font-family: cursive;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    margin-left: 65%;
    margin-top: -15%;
    transition: all 0.5s;
}




@media screen and (max-width: 650px){
	.about .abcontain{
		margin-top: 30%;
		text-align: center;
	}
	.about .abcontain h1{
		margin-top: 65px;
		font-size: 40px;
		margin-left: 65px;
		
	}
	.second_about{
		display: inline-block;
		height: 100vh;
	}
	.second_about .write{
        width: 83%;
        height: 45vh;

        
	}
	.second_about .img{
		margin-top: 80%;
		margin-left: 10%;
		width: 83%;
		background-position: center;
	    background-size: cover;s
	    background-repeat: no-repeat;


	}
	.second_about .write .readmore{
		margin-bottom: 40px;
	}
}
