*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.admin_container{
    position: absolute;
    width: 352px;
    height: 60vh;
    margin: -200% 38%;
    background: #fff;
    border-radius: 5px;
    display: none;
    animation-name: animate;
    animation-duration: 1s;
}
.admin_container .admin_logo{
  background: url("../img/avatar.svg");
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px auto;
  box-shadow: 0px 0px 2px #5f5f5f,
  0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf,
  -8px -8px 15px #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
.admin_container .admin_title{
    font-size: 16px;
    color: black;
    margin: -30px 50px;
    text-align: center;
    padding-top: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.admin_container .input-admin {
  display: flex;
  width: 85%;
  margin-left: 7%;
  margin-top: 15px;
  border: 1px solid #00000094;
  border-radius: 3px;
  background: #ecf0f3;
  justify-content: space-between;
}
#temp1{
    margin-top: 90px;
}
#iconadmin{
    padding: 10px 0px;
    background: none;
    color: #0056f3;
    background: transparent;
    position: absolute;
}
.admin_container .input-admin .input-field {
  width: 100%;
  padding: 10px;
  margin-left: 30px;
  background: #ecf0f3;
  border: none;
  outline: none;
  background: transparent;
}

.admin_container .input-admin:focus {
  border: 2px solid #009688;
  background: #fff;
}
.admin_container .signin-admin{
  width: 85%;
  padding: 10px;
  margin-left: 7%;
  margin-top: 30px;
  border: 1px solid #00000094;
  border-radius: 5px;
  color: #fff;
  background: #2196f3;
   box-shadow: 3px 3px 8px #b1b1b1,
  -3px -3px 8px #fff;
}
.admin_container .signin-admin:hover,
.admin_container .signin-admin:focus{

    background: #00d47c;
}
.admin_cross{
    margin-left: 90%;
    position: absolute;
    top:4%;
    font-size: 20px;
    cursor: pointer;

}
.admin_cross{
    color:#009688;
   
}
.admin_cross:hover,
.admin_cross:focus{
    color:#009688;
    cursor: pointer;
    opacity: 0.8;
}

.link{
  padding-top: 5px;
  text-align: right;
  margin-right: 25px;
}
.link span{
  text-decoration: none;
  color: red;
  font-size: 14px;
}
.link span:hover{
  color: green;
}
@keyframes animate{
  from{transform: scale(0)}
  to{transform: scale(1)}
}



@media screen and (max-width: 650px){
    .admin_container{
        margin: -790% 14%;
    }
}