*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("../img/vote_1 (3).jpg");
	
}
.circle{
	width: 80%;
	height: 490px;
	border-radius: 3px;
	background: deepskyblue;
	margin: -19% 10%;
}

.profile_container{
	margin: -44% 20%;
	width: 60%;
	height: 112vh;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 3px 5px 1px rgb(110 105 105);

 
}
.auto-main{
	display: flex;
}
.auto-main .under-container{
	width: 290px;
	height: 112vh;
	border-radius: 3px 0px 0px 3px;
	background: #fd0098;
}
.image-profile{
	width: 200px;
	height: 200px;
	background: #fff;
	border-radius: 100px;
	margin: 50px 48px;
}

.body{
	border-radius: 0px 3px 3px 0px;
	width: 100%;
	background: #fff;
	height: 80vh;
}
.show{
	width: 100%;
	padding: 16px;
	background: #009688;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	font-family: cursive;
	border-radius: 0px 3px 0px 0px;
}
.show h2{
	margin-left: 38%;
}
.admin-input{
	margin: 4% 5%;
	width: 90%;
	padding: 10px;
	background: #fff;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  border-right: none;
  display: inline-flex;

}
.admin-input .ip{
  color: red;
}


.input-field{
	width: 90%;
	margin-left: 15px;
	border: none;
	outline: none;
  
}
#iconadmin{
	color: #ff5722;
	font-size: 18px;
}

.input-field_bt{
  width: 160px;
  padding: 10px;
  margin: auto;
  margin-left: 60%;
  border: 1px solid #00000094;
  border-radius: 5px;
  color: #fff;
  background: #2196f3;
   box-shadow: 3px 3px 8px #b1b1b1,
  -3px -3px 8px #fff;
  justify-content: space-between;

}

#submit_bt:focus{
	opacity: 0.8;
	cursor: pointer;
}

.under_container h1{
	color: #fff;
	font-size: 20px;
	font-family: cursive;


}
.under_container h4{
	color: #fff;
	font-size: 13px;
	line-height: 55px;
	font-family: cursive;
}


.input-container{
  display: inline-flex;
  width: 70%;
  margin-left:8%;
  justify-content: space-between;
 

}
.ip{
	width: 70%;
	display: flex;
}
.ip span{
	margin: 12px 0px;
	font-size: 16px;
	
}
.ip input[type=radio]{
	margin:  16px 9px;
	
}
.ip i{
	margin: 16px 0px;
		color: #ff5722;
}

@media only screen and (max-width: 568px){
	.circle{
		margin-top: -260px;
		height: 90vh;
	}
	.profile_container{
		margin: -155% auto;
		height: 135vh;
		
	}
	.auto-main{
		display: inline-block;
	}
	.auto-main .under-container{
		margin-top: -50px;
		border-radius: 3px 3px 0px 0px;
		height: 55vh;
		
	}
	.image-profile{
		position: absolute;
		margin-top: 38px;
	}
	.show h2{
       margin-left: 20%;
	}
	.input-field{
		width: 80%;
		margin-top: 8px;
		padding: 8px;
	}
	.input-field_bt{
		margin-left: 22%;
	}
	.profile_container h1{
		 position: absolute;
		 margin-top: 55%;
	}
	.profile_container h4{
		position: absolute;
		margin-top: 60%;
	}
	.input-container{
		display: block;
	}
	.auto-main{
		height: 110vh;
	}
	.body{
		height: 110vh;
	}

}


