*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Cabin', sans-serif;
	
}
.Contact{
	font-family: 'poppins',sans-serif;
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../img/ac.jpg");
	background-size: cover;
	background-position: center;

}
.Contact .content3{
	max-width: 800px;
	text-align: center;
}

.Contact .content3 h2{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}
.Contact .content3 p{
	font-weight: 300;
	color: #fff;
}
.fluid{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.fluid .contactinfo{
	width: 50%;
	display: flex;
    flex-direction: column;
}
.fluid .contactinfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.fluid .contactinfo .box .icon-contact{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.fluid .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.fluid .contactinfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.contactForm{
	border-radius: 5px;
	width: 40%;
	padding: 40px;
	background: #fff;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{

	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;

}




@media (max-width: 650px){
	.Contact{
		padding: 50px;
	}
	.fluid{
		flex-direction: column;
	}
	.fluid .contactinfo{
		margin-bottom: 40px;
	} 
	.fluid .contactinfo,
	.contactForm{
		width: 100%;
	}

}